.header {
  display: flex;
}
.header .logo {
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  height: 1.8rem;
}

.link-back {
  display: flex;
  text-align: center;
  padding: 25px;
  align-items: center;
  text-decoration: none;
  position: absolute;
}
.link-back .fas {
  font-size: 22px;
  color: black;
}

.header__shadow {
  box-shadow: 0px 3px 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}

.headings {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.headings .localisation {
  display: flex;
  flex-direction: row;
  background-color: rgb(225, 225, 225);
  justify-content: center;
}
.headings .localisation .fa-solid {
  margin-top: 1rem;
  padding-right: 1rem;
}
.headings .about {
  background-color: rgb(240, 240, 240);
}
.headings .about h1 {
  padding-inline: 3rem;
  font-size: 24px;
}
.headings .about p {
  padding-inline: 3rem;
  font-size: 18px;
  font-weight: 300;
}
.headings .about .home-btn {
  margin: auto;
  margin-bottom: 2rem;
}

.btn, .headings .about .home-btn {
  border: 0;
  height: 50px;
  width: 220px;
  border-radius: 2rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-align: center;
  font-size: 16px;
}
.btn:hover, .headings .about .home-btn:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.tutorial {
  display: flex;
  flex-direction: column;
}
.tutorial .operations {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 2rem;
  counter-reset: compteListe;
}
.tutorial .operations .step {
  counter-increment: compteListe 1;
  display: flex;
  flex-direction: row;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 3px 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 4.5rem;
  justify-content: start;
  align-items: center;
  padding-left: 40px;
}
.tutorial .operations .step span {
  font-weight: 600;
}
.tutorial .operations .step::before {
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 2rem;
  width: 2rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 1.25rem;
}
.tutorial .operations .step i {
  color: gray;
  line-height: 4.3rem;
  padding-right: 1rem;
  opacity: 1;
}

body {
  font-family: "Roboto", sans-serif;
}

.category-title {
  padding: 2rem 0 0 1.5rem;
}

.cards-lst {
  padding-inline: 1.5rem;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 0.5rem rgba(0, 0, 0, 0.25);
}
.card:hover {
  cursor: pointer;
  box-shadow: 0px 3px 1rem rgba(0, 0, 0, 0.5);
}
.card__image {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card .card-details {
  display: flex;
  flex-direction: row;
  color: black;
}
.card .fa-heart {
  line-height: 3rem;
  position: absolute;
  right: 45px;
  font-size: 24px;
}

.category-title {
  padding: 2rem 0 0 1.5rem;
}

.subtiles {
  color: black;
}
.subtiles .card-title {
  margin: 0;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: 16px;
}
.subtiles .byline {
  margin: 0;
  padding-left: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

.link-restaurant {
  text-decoration: none;
}

.restaurants {
  background-color: rgb(240, 240, 240);
}
.restaurants .cards-lst {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  gap: 1rem;
}

/*# sourceMappingURL=style.css.map */
