.header {
  display: flex;
}
.header .logo {
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  height: 1.8rem;
}

.link-back {
  display: flex;
  text-align: center;
  padding: 25px;
  align-items: center;
  text-decoration: none;
  position: absolute;
}
.link-back .fas {
  font-size: 22px;
  color: black;
}

.header__shadow {
  box-shadow: 0px 3px 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}

.headings {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.headings .localisation {
  display: flex;
  flex-direction: row;
  background-color: rgb(225, 225, 225);
  justify-content: center;
}
.headings .localisation .fa-solid {
  margin-top: 1rem;
  padding-right: 1rem;
}
.headings .about {
  background-color: rgb(240, 240, 240);
}
.headings .about h1 {
  padding-inline: 3rem;
  font-size: 24px;
}
.headings .about p {
  padding-inline: 3rem;
  font-size: 18px;
  font-weight: 300;
}
.headings .about .home-btn {
  margin: auto;
  margin-bottom: 2rem;
}

.btn, .order-btn, .headings .about .home-btn {
  border: 0;
  height: 50px;
  width: 220px;
  border-radius: 2rem;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  text-align: center;
  font-size: 16px;
}
.btn:hover, .order-btn:hover, .headings .about .home-btn:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.tutorial {
  display: flex;
  flex-direction: column;
}
.tutorial .operations {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-inline: 2rem;
  counter-reset: compteListe;
}
.tutorial .operations .step {
  counter-increment: compteListe 1;
  display: flex;
  flex-direction: row;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 3px 0.5rem rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 4.5rem;
  justify-content: start;
  align-items: center;
  padding-left: 40px;
}
.tutorial .operations .step span {
  font-weight: 600;
}
.tutorial .operations .step::before {
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 2rem;
  width: 2rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 1.25rem;
}
.tutorial .operations .step i {
  color: gray;
  line-height: 4.3rem;
  padding-right: 1rem;
  opacity: 1;
}

body {
  font-family: "Roboto", sans-serif;
}

.category-title {
  padding: 2rem 0 0 1.5rem;
}

.cards-lst {
  padding-inline: 1.5rem;
}

.card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 3px 0.5rem rgba(0, 0, 0, 0.25);
}
.card:hover {
  cursor: pointer;
  box-shadow: 0px 3px 1rem rgba(0, 0, 0, 0.5);
}
.card__image {
  height: 10rem;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.card .card-details {
  display: flex;
  flex-direction: row;
  color: black;
}
.card .fa-heart {
  line-height: 3rem;
  position: absolute;
  right: 45px;
  font-size: 24px;
}

.category-title {
  padding: 2rem 0 0 1.5rem;
}

.subtiles {
  color: black;
}
.subtiles .card-title {
  margin: 0;
  padding-left: 1rem;
  padding-top: 0.5rem;
  font-size: 16px;
}
.subtiles .byline {
  margin: 0;
  padding-left: 1rem;
  padding-top: 0.2rem;
  padding-bottom: 0.5rem;
}

.link-restaurant {
  text-decoration: none;
}

.restaurants {
  background-color: rgb(240, 240, 240);
}
.restaurants .cards-lst {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
  gap: 1rem;
}

.footer, .footer-restaurant-page {
  background-color: rgb(74, 73, 73);
  color: white;
}
.footer ul, .footer-restaurant-page ul {
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  margin-bottom: 0;
}
.footer li, .footer-restaurant-page li {
  padding-bottom: 0.5rem;
  list-style: none;
}
.footer li i, .footer-restaurant-page li i {
  padding-right: 5px;
  opacity: 1;
  color: white;
}

.footer-restaurant-page {
  margin-top: -3rem;
}

h4 {
  margin-block-start: 0;
  margin: 0;
  padding: 1.5rem 0 0 1.5rem;
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-size: 18px;
  font-weight: 300;
}

.restaurant-picture {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  border-radius: 35px 35px 0 0;
  width: 100%;
  position: relative;
  top: -3rem;
}
.menu__header {
  display: flex;
  flex-direction: row;
}

.dish-container {
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  gap: 1rem;
}

.restaurant-title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  font-size: 24px;
  margin: 0;
  padding-left: 1rem;
  padding-top: 2rem;
}

.fa-heart {
  line-height: 6rem;
  position: absolute;
  right: 30px;
  font-size: 24px;
}

.dish-type {
  margin: 0;
  padding-top: 2rem;
  font-size: 16px;
}
.dish-type:after {
  border-bottom: 3px solid #99E2D0;
  content: "";
  display: block;
  margin-left: 0%;
  width: 9%;
  padding-top: 5px;
}

.order-btn {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.link-restaurant {
  text-decoration: none;
}

.dish-card {
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: white;
  padding: 10px 20px 10px 20px;
  justify-content: space-between;
  box-shadow: 0px 3px 0.5rem rgba(0, 0, 0, 0.25);
}
.dish-card:hover {
  transform: scale(1.01);
}
.dish-card__title {
  margin: 0;
  padding: 5px 0 5px 0;
}
.dish-card__description {
  margin: 0;
  padding-bottom: 5px;
}
.dish-card__price {
  line-height: 5rem;
  height: 1rem;
  font-weight: 600;
}

.fa-solid {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 200ms ease-in-out;
  opacity: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-solid:hover {
  opacity: 1;
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
