.btn{
    border:0;
    height: 50px;
    width: 220px;
    border-radius: 2rem;
    background: $linear-gradient;
    color: white;
    text-align: center;
    font-size: 16px;

    &:hover{
        cursor: pointer;
        transform: scale(1.01);
        background: $linear-gradient-lighter;
        }
}
