.btn{
    border:0;
    height: 50px;
    width: 220px;
    border-radius: 2rem;
    background: $linear-gradient;
    color: white;
    text-align: center;
    font-size: 16px;
    box-shadow: $shadow;

    &:hover{
        cursor: pointer;
        background: $linear-gradient-lighter;
        box-shadow: $shadow-plus;
        }
}
