.cards-lst{
    padding-inline: 1.5rem;
}

.card{
    background-color: white;
    border-radius: $radius-corner;
    box-shadow: $shadow;
    position: relative;

    @include responsive($tablet) {
        width:22rem;
    }

    &:hover{
        cursor: pointer;
        box-shadow: $shadow-plus;

        @include responsive($tablet) {
            box-shadow: $shadow;
            transform:scale(1.01)
        }
    }
    &__image{
        height:10rem;
        width: 100%;
        object-fit: cover;
        border-radius: $radius-corner $radius-corner 0 0;
    }
    &__badge{
        top: 13px;
        right: 13px;
        position: absolute;
        width: 70px;
        display: flex;
        justify-content: center;
        height: 26px;
        align-items: center;
        color: #2d7463;
        background-color: #99E2D0;
        font-weight: bold;
        border-radius: 3px;
        font-size: 12px;
    }
    .card-details{
        display: flex;
        flex-direction: row;
        color: black;
        justify-content: space-between;
    }
    .fa-heart{
        line-height: 3rem;
        position: absolute;
        font-size: $size;
    }
}

.subtiles{
    color: black;

    .card-title{
        margin: 0;
        padding-left: 1rem;
        padding-top: 0.5rem;
        font-size: $size - 8;    
  }

    .byline{
        margin: 0;
        padding-left: 1rem;
        padding-top: 0.2rem;
        padding-bottom: 0.5rem;
  }
}

.icon {
    justify-content: center;
    display: flex;
    width: 80px;
<<<<<<< HEAD
    z-index: 2;
=======
>>>>>>> 51c600183caf0e20594b3f72185707920f910f99

    .fa-solid {
        color: transparent;
        background-image: linear-gradient(#FF79DA, #9356DC);
        transition: all 100ms ease-in-out;
        opacity: 0;
<<<<<<< HEAD
        background-clip: text;
        -webkit-background-clip: text;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }
=======
        background-clip:text;
        -webkit-background-clip: text;
        
    
        &:hover {
            opacity: 1;
            transform:scale(1.1);
    }
>>>>>>> 51c600183caf0e20594b3f72185707920f910f99
    }
}

.icon-heart-other-pages{
    @extend .icon;
    @include responsive($tablet) {
        color:white;
<<<<<<< HEAD
    }    
=======
    }
    
>>>>>>> 51c600183caf0e20594b3f72185707920f910f99
}

.link-restaurant {
    text-decoration: none;
    color: transparent;
}