.dish-card{
    display: flex;
    flex-direction: row;
    border-radius: $radius-corner;
    background-color: $white-color;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    box-shadow: $shadow;

    &:hover{
        transform: scale(1.01);
    }

    &__title{
        margin: 0;
        padding: 5px 0 5px 0;
    }
    &__description{
        margin: 0;
        padding-bottom: 5px;
    }
    &__price{
        line-height: 5rem;
        height: 1rem;
        font-weight: 600;
    }
}
