.dish-card{
    display: flex;
    flex-direction: row;
    border-radius: $radius-corner;
    background-color: $white-color;
    justify-content: space-between;
    box-shadow: $shadow;
    overflow:hidden;
    height: 67px;
    
    animation: appear 1s;
    animation-fill-mode: both;
    @for $i from 1 through 13{
        &:nth-child(#{$i}) {
            animation-delay: 100ms *$i;
        }
    }

    &:hover{
        cursor: pointer;
        .confirmation-animation{
            margin:0;
        }
        .icon-animation{
            animation: rotation .5s;
            }
    }

    &__title{
        margin: 0;
        padding: 5px 0 5px 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__description{
        margin: 0;
        padding-bottom: 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    &__price{
        line-height: 5.4rem;
        height: 75px;
        font-weight: 600;
        padding-inline: 15px;
    }
    .about-dish{
        padding-top: 10px;
        padding-left: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 85%;

        h3{
            font-size: 16px;
        }
        p{
            font-size: 12px;
        }
    }
}

.confirmation-animation{
    width: 80px;
    background-color: #99e2d0;
    margin: 0rem -5rem 0rem 0rem;
    transition-duration: .5s;

   
 }

.fa-circle-check{
    display: flex;
    justify-content: center;
    opacity: 1;
    color: white;
    font-size: 30px;
    line-height: 4.5rem;
    
        
}

 @keyframes rotation{
    0%{
    transform: rotate(0)
}
    100%{
    transform: rotate(360deg);
}
}

@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
