body {
    font-family: 'Roboto', sans-serif;
}
.main-other-pages{
    @include responsive($tablet) {
        height: 33rem;
    }
    
}
.content{
    max-width: 1920px;
    display: block;
    margin: 0 auto;
}

.category-title {
    padding: 2rem 0 0 1.5rem;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
}
