@keyframes appear {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.dish-card{
    animation: appear 1s;
    animation-fill-mode: both;
    @for $i from 1 through 13{
        &:nth-child(#{$i}) {
            animation-delay: 100ms *$i;
        }
    }
}
