
.icon{
    .fa-solid {
    color: transparent;
    background-image: linear-gradient(#FF79DA, #9356DC);
    transition: all 100ms ease-in-out;
    opacity: 0;
    background-clip:text;
    -webkit-background-clip: text;
    

    &:hover {
        opacity: 1;
        transform:scale(1.1);
}
}
}

.icon-heart-other-pages{
    @extend .icon;
    @include media-min($tablet-min) {
        color:white;
    }
    
}
