.loader{
    position: fixed;
    animation: animloader 3s;
 

    &__animation {
        top: 300px;
        width: 8px;
        height: 48px;
        display: block;
        margin: auto;
        left: -20px;
        position: fixed;
        border-radius: 4px;
        box-sizing: border-box;
        animation: animloader 3s linear alternate;
    } 
     
  @keyframes animloader {
    0% {
      box-shadow: 20px 0 #9356DC, 40px 0#99E2D0, 60px 0 #FF79DA;
      background-color:white;
      opacity: 0.95;
      z-index:1;
      inset: 0;
      

    }
    50% {
      box-shadow: 20px 0 #FF79DA, 40px 0 #9356DC, 60px 0 #99E2D0;
      background-color:white;
      opacity: 0.95;
      z-index:1;
      inset: 0;

    }
    100% {
      box-shadow: 20px 0 #99E2D0, 40px 0 #FF79DA, 60px 0 #9356DC;
      background-color:white;
      opacity: 0.95;
      z-index:1;
      inset: 0;

    }
  }
}  
  