$primary-color: #9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$linear-gradient: linear-gradient($secondary-color, $primary-color);
$lightgray:rgb(240, 240, 240);
$radius-corner: 15px;
$radius-top: 35px 35px 0 0;
$size: 24px;
$Shrikhand: 'Shrikhand', sans-serif;
$shadow: 0px 3px 0.5rem rgb(0 0 0 / 25%);
$shadow-plus: 0px 3px 1rem rgb(0 0 0 / 50%);
$white-color: white;
$tablet-min: 768px;
$desktop-min: 996px;