$primary-color: #9356DC;
$secondary-color:#FF79DA;
$third-color:#99E2D0;
$shadow: 0px 3px 0.5rem rgb(0 0 0 / 25%);
$lightgray:rgb(240, 240, 240);
$linear-gradient: linear-gradient($secondary-color, $primary-color);
$radius-corner: 15px;
$shadow-plus: 0px 3px 1rem rgb(0 0 0 / 50%);
$size: 24px;
$radius-corner: 15px;
$white-color: white;
$Shrikhand: 'Shrikhand', sans-serif;