.restaurants {
    background-color: $lightgray;

    .menus-container {
        gap: 1rem;
        display: flex;
        flex-direction: column;

        @include responsive($tablet) {
            flex-direction: row;
            justify-content: center;
            gap: 2rem;
        }
        
    }
        .cards-lst {
            display: flex;
            flex-direction: column;
            padding-bottom: 4rem;
            gap: 1rem;
            padding-top: 1rem;
            padding-bottom: 4rem;
            
            @include responsive($tablet) {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                padding-top: 2rem;
            }

        }
    }


.card {
    @extend .card;
}

