.restaurant-picture{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: $lightgray;
    border-radius: $radius-top;
    width: 100%;
    position:relative;
    top: -3rem;
    
    
    &__header{
        display: flex;
        flex-direction: row;
    }
    
}

.dish-container{
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;
    gap: 1rem;
}

.restaurant-title{
    font-family: 'Shrikhand', sans-serif;
    font-weight: 300;
    font-size: $size;
    margin:0;
    padding-left: 1rem;
    padding-top: 2rem;
    width: 90%;
}

.fa-heart{
    line-height: 6rem;
    position: absolute;
    font-size: 24px;
}

.dish-type{
    margin: 0;
    padding-top: 2rem;
    font-size: 16px;

    &:after {
        border-bottom: 3px solid $third-color;
        content: "";
        display: block;
        margin-left: 0%;
        width: 9%;
        padding-top: 5px;
      }
}
.order-btn-container{
    display: flex
}
    .order-btn{
        @extend .btn;
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 5rem;
        
    }

.link-restaurant{
    text-decoration: none;
}


