.tutorial {
    display: flex;
    flex-direction: column;

    @include responsive($tablet) {
        flex-direction: row;
      }
     
    .category-title{
        @include responsive($tablet) {
            width:28%;
          }
    }  

    &__operations {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding-inline: 2rem;
        counter-reset: compteListe;

        @include responsive($tablet) {
            justify-content: center;
            margin-top: 5rem;
            margin-bottom: 5rem;
            width: 35%;
          }

        &__step {
            counter-increment: compteListe 1;
            display: flex;
            flex-direction: row;
            background-color: $lightgray;
            box-shadow: $shadow;
            border-radius: 25px;
            height: 4.5rem;
            justify-content: start;
            align-items: center;
            
            span {
                font-weight: 600;
                
                @include responsive($tablet) {
                  padding-right: 2rem;
                }
                
            }

            &::before {
                content: counter(compteListe) " ";
                background: $primary-color;
                height: 2rem;
                width: 2rem;
                border-radius: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                position: relative;
                left: -1rem;

            }

            i {
                color: gray;
                line-height: 4.3rem;
                padding-right: 1rem;
                opacity: 1;
            }
        }
    }
}